
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">WeShare</span>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li>
          <a href="{% url "board" %}">My dashboard</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
         Hello  {{request.user.username }}>{{ request.user.first_name }},
        <a href="{% url "logout" %}"><u>Logout</u></a>
      {% else %}
        <a href="{% url "login" %}"><u>Log-in</u></a>
      {% endif %}
    </span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>